<div class="loader-overlay" *ngIf="isLoader">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="loader-container">
                    <div class="logo-box">
                        <img src="assets/Medo-Pharma.png" alt="Logo" class="logo">
                        <div class="loading-frame"></div>
                    </div>
                </div>
                <div class="loading-text">Loading...</div>
            </div>
        </div>
    </div>
</div>
