<div class="container-fluid custom-page">
  <!-- Header Section -->
  <div class="header-card">
    <h5>Item Type Master</h5>
    <div *ngIf="hasPermission('Itemtype.Create')">
      <button type="button" class="custom-button" routerLink="form">
        <fa-icon [icon]="faPlus"></fa-icon>
        <span>ADD</span>
      </button>
    </div>
  </div>

  <div class="bg-white rounded-6px p-3 shadow-sm">
    <!-- Filter Section -->
    <div class="filter-card">
      <div class="row g-4">
        <div class="col-lg-4 col-md-6">
          <label class="filter-label">Search by Item Type</label>
          <div class="search-input-group">
            <input type="text" class="form-control" (keyup)="get_itemtype(1)" placeholder="Search item type..."
              [(ngModel)]="search" />
            <fa-icon class="search-icon" [icon]="faSearch"></fa-icon>
          </div>
        </div>
      </div>
    </div>

    <!-- Table Section -->
    <div class="table-container">
      <app-not-data *ngIf="!catagory?.length && !page_loading" [message]="'No Type found'" [route]="'form'"
        [button]="'Add new type'"></app-not-data>

      <div *ngIf="catagory?.length">
        <table class="table table-hover">
          <thead>
            <tr>
              <th width="80">S.No</th>
              <th class="text-start pointer" (click)="toggleSort('code')">
                Code <fa-icon [icon]="getSortIcon('code')"></fa-icon>
              </th>
              <th class="text-start pointer" (click)="toggleSort('name')">
                Name <fa-icon [icon]="getSortIcon('name')"></fa-icon>
              </th>
              <th width="120">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of catagory; let index = index">
              <td>
                <span class="fw-bold text-secondary">{{ index + 1 }}</span>
              </td>
              <td class="code-column text-start">{{ data?.code }}</td>
              <td class="name-column text-start">{{ data?.name }}</td>
              <td>
                <button type="button" class="action-btn edit-btn" *ngIf="hasPermission('Itemtype.Update')"
                  routerLink="form/{{data._id}}" title="Edit Type">
                  <fa-icon [icon]="faEdit"></fa-icon>
                </button>
                <button type="button" class="action-btn delete-btn" [disabled]="!data.is_deleted"
                  *ngIf="hasPermission('Itemtype.Delete')" (click)="confirm_delete(data)" title="Delete Type">
                  <fa-icon [icon]="faTrashAlt"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Pagination -->
    <div class="mt-4 d-flex justify-content-end" *ngIf="catagory?.length">
      <app-pagination [data]="pagination_data"></app-pagination>
    </div>
  </div>
</div>