<app-loader [isLoader]="page_loader"></app-loader>
<div class="container-fluid" *ngIf="!page_loader">
    <div class="row">
        <div class="col-lg-12">
            <div class="my-3 border-0">
                <div class="bg-white p-3 border-top border-start border-end rounded shadow-sm mb-3">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">
                            <span *ngIf="!rateID">ADD Price Master</span>
                            <span *ngIf="rateID">Edit Group Master</span>
                        </h5>
                        <button type="button" class="custom-button" (click)="goBack()">
                            <fa-icon [icon]="faArrowLeft"></fa-icon> Back
                        </button>
                    </div>
                </div>
                <div class="bg-white rounded-6px table-responsive-sm p-3 shadow-sm">
                    <form class="p-3" #formData="ngForm" (ngSubmit)="formSubmit(formData)">
                        <div class="col-12 col-md-12">
                            <div class="row mt-2">
                                <div class="form-group col-lg-6 col-md-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Item Name</mat-label>
                                        <input matInput id="nameInput" name="name" placeholder="Item Name"
                                            autocomplete="off" required [(ngModel)]="formValues['name']"
                                            [disabled]="rateID" #name="ngModel"
                                            [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched || formData.submitted) }">
                                        <mat-error
                                            *ngIf="name.invalid && (name.dirty || name.touched || formData.submitted)">
                                            Item Name is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-lg-6 col-md-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Item Code</mat-label>
                                        <input matInput id="codeInput" name="code" placeholder="Item Code"
                                            autocomplete="off" required [(ngModel)]="formValues['code']"
                                            [disabled]="rateID" #code="ngModel"
                                            [ngClass]="{ 'is-invalid': code.invalid && (code.dirty || code.touched || formData.submitted) }">
                                        <mat-error
                                            *ngIf="code.invalid && (code.dirty || code.touched || formData.submitted)">
                                            Item Code is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Standard Rate</mat-label>
                                        <input matInput id="stdrateInput" name="stdrate" placeholder="Item Rate"
                                            autocomplete="off" required [(ngModel)]="formValues['stdrate']"
                                            #stdrate="ngModel" [disabled]="true"
                                            [ngClass]="{ 'is-invalid': stdrate.invalid && (stdrate.dirty || stdrate.touched || formData.submitted) }">
                                        <mat-error
                                            *ngIf="stdrate.invalid && (stdrate.dirty || stdrate.touched || formData.submitted)">
                                            Standard Rate is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-lg-6 col-md-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>Rate</mat-label>
                                        <input matInput id="rateInput" name="rate" placeholder="Item Rate"
                                            autocomplete="off" required [(ngModel)]="formValues['rate']" #rate="ngModel"
                                            [ngClass]="{ 'is-invalid': rate.invalid && (rate.dirty || rate.touched || formData.submitted) }">
                                        <mat-error
                                            *ngIf="rate.invalid && (rate.dirty || rate.touched || formData.submitted)">
                                            Rate is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>GST %</mat-label>
                                        <input matInput id="gstInput" name="gst" placeholder="GST Value"
                                            autocomplete="off" required [(ngModel)]="formValues['gst']" #gst="ngModel"
                                            (input)="update_gst()" [disabled]="true"
                                            [ngClass]="{ 'is-invalid': gst.invalid && (gst.dirty || gst.touched || formData.submitted) }">
                                        <mat-error
                                            *ngIf="gst.invalid && (gst.dirty || gst.touched || formData.submitted)">
                                            GST is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-lg-6 col-md-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>SGST/UTGST %</mat-label>
                                        <input matInput id="cgstInput" name="gstSGST" placeholder="Item SGST/UTGST"
                                            autocomplete="off" required [(ngModel)]="formValues['gstSGST']"
                                            [disabled]="true" #gstSGST="ngModel"
                                            [ngClass]="{ 'is-invalid': gstSGST.invalid && (gstSGST.dirty || gstSGST.touched || formData.submitted) }">
                                        <mat-error
                                            *ngIf="gstSGST.invalid && (gstSGST.dirty || gstSGST.touched || formData.submitted)">
                                            Rate is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <mat-label>CGST %</mat-label>
                                        <input matInput id="gstCGSTInput" name="gstCGST" placeholder="CGST Value"
                                            autocomplete="off" required [(ngModel)]="formValues['gstCGST']"
                                            [disabled]="true" #gstCGST="ngModel"
                                            [ngClass]="{ 'is-invalid': gstCGST.invalid && (gstCGST.dirty || gstCGST.touched || formData.submitted) }">
                                        <mat-error
                                            *ngIf="gstCGST.invalid && (gstCGST.dirty || gstCGST.touched || formData.submitted)">
                                            SGST/UTGST is required.
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <button class="custom-button" type="submit" [disabled]="btn_loading ? 'disabled': null">
                                <span class="spinner-border" *ngIf="btn_loading" role="status"
                                    aria-hidden="true"></span>
                                <span *ngIf="!btn_loading">{{ rateID ? 'Update' : 'Create'}}</span>
                            </button>
                            <button mat-raised-button color="warn ms-2" type="button" *ngIf="!rateID"
                                (click)="resetForm(formData)">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>