<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="mt-3">
                <div class="mx-auto custom-height">
                    <div class=" p-3 px-0">
                        <div class="d-flex align-items-center justify-content-between ">
                            <h5 class="mb-0">Customer Master</h5>
                            <div>
                                <button type="button" class="btn btn-success bg-primary-red border-0"
                                    *ngIf="hasPermission('Customer.Create')" routerLink="form"
                                    tooltip="ADD a new BOM">ADD</button>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white rounded-6px table-responsive-sm p-3 shadow-sm">
                        <div class="row px-3 pt-2 pb-3">
                            <div class="col-lg-6 col-xl-4 col-12">
                                <label class="m-0">Search by Customer</label>
                                <div class="input-group flex-nowrap mt-2">
                                    <input type="text" class="form-control " (keyup)="get_customer(1)"
                                        placeholder="search customer code/name" [(ngModel)]="search">
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-white pointer rounded-start-0"
                                            id="addon-wrapping"><fa-icon class="text-secondary"
                                                [icon]="faSearch"></fa-icon></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <app-not-data *ngIf="!customer?.length" [message]="'No Customer found'" [route]="'form'"
                            [button]="'Add new Customer'"></app-not-data>
                        <table
                            class="table border table-hover table-striped table-responsive-lg text-center rounded-top"
                            *ngIf="customer?.length">
                            <thead>
                                <tr>
                                    <th scope="col" class="bg-blue left-align custom-select">
                                        Code<fa-icon class="mx-1" (click)="toggleSort('code')"
                                            [icon]="getSortIcon('code')"></fa-icon></th>
                                    <th scope="col" class="bg-blue left-align custom-select" tableColumn>Name<fa-icon
                                            class="mx-1" (click)="toggleSort('name')"
                                            [icon]="getSortIcon('name')"></fa-icon></th>
                                    <th scope="col" class="bg-blue left-align custom-select">
                                        Gst No<fa-icon class="mx-1" (click)="toggleSort('gst')"
                                            [icon]="getSortIcon('gst')"></fa-icon></th>
                                    <th scope="col" class="bg-blue left-align custom-select" tableColumn>Address<fa-icon
                                            class="mx-1" (click)="toggleSort('address')"
                                            [icon]="getSortIcon('address')"></fa-icon></th>
                                    <th scope="col" class="bg-blue">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of customer; let index = index" class="details-row">
                                    <td title="code" class="left-align">{{ data?.customer_code }}</td>
                                    <td title="name" class="left-align">{{ data?.name }}</td>
                                    <td title="gst" class="left-align">{{ data?.gst }}</td>
                                    <td title="address" class="left-align">{{ data?.address }}</td>
                                    <td title="Action" class="text-center">
                                        <button type="button" class="btn btn-outline-secondary btn-sm mr-1"
                                            *ngIf="hasPermission('Customer.Update')" routerLink="form/{{data._id}}">
                                            <fa-icon [icon]="faEdit"></fa-icon>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary btn-sm mr-1"
                                            [disabled]="!data.is_deleted" *ngIf="hasPermission('Customer.Delete')"
                                            (click)="confirm_delete(data)">
                                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <app-pagination [data]="pagination_data"></app-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>